/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: auto;
	box-sizing: border-box;

}

h1 {
	color: chartreuse;
}

.welcome {
	margin: 0 auto;
	padding: 0 2rem;

}

.clearfix {
	clear: both;
}

.professional-skills {
	box-sizing: border-box;
	background-color: white;
	width: 85%;
	margin: auto;

}

table {
	width: 90%;
}

th, tr {
	border: 1px solid white;
	background-color: rgb(45,45,45);
	width: 35%;
	color: rgb(18,211,13);

}

.contact-me {
	box-sizing: border-box;
	background-color: rgb(45,45,45);
	width: 85%;
	margin: auto;
}

.form-wrapper {
	background-color: rgb(2,89,2);
	width: 85%;
	margin: auto;
}

.footer {
	box-sizing: border-box;
	text-align: center;
	color: white;
	background-color: black;
	width: 85%;
	margin: auto;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/